@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background-color: #f4e4bc;
  color: #2c1810;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #eaddc5;
}
::-webkit-scrollbar-thumb {
  background: #2c1810;
  border: 3px solid #eaddc5;
  border-radius: 10px;
}